# Dependências
node_modules/

# Variáveis de Ambiente e Segredos (MUITO IMPORTANTE)
.env
.env.test
.env.production
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Output (Caso você use TypeScript ou algum bundler no futuro)
/dist
/build
/out

# Cobertura de Testes (Se usar Jest, Mocha, etc.)
/coverage
.nyc_output

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de Editores / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
